BOT_TOKEN={bot token}
BOT_PREFIX={bot prefix eg. ++ ! $}
BOT_MASTERS={discord IDs separated by '|' }
GW2BOT_ID={discord ID of the gw2 bot that posts the LI messages 310050883100737536}
DISCORD_CHANNEL_NAME={full name of the discord channel the bot should work in}